h1 {
	  padding-top: 1% !important;
	      color: white;
    text-transform: uppercase;
    font-weight: 700 !important;
    width: 100%;
    float: left;
  }

body
{
	background-color: #808080 !important;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png") !important;
}

header {
	display : block;
	width : 100%;
	background : #808080;
	height : 110px;
	padding : 0.5% 0;
}

header h2 {
	padding-bottom : 2% !important;
}

center img {
	margin-top : -0.5%;
}

element1

{
    position: absolute;
    margin-top: 100px;
	margin-left: 26%;
    padding: 50px;
	width: 70%;
    height: auto;
	border: 1px solid black;
	background-color: #6B6B6B;
	margin-bottom: 2%;
}

element1 p
{
color:#fff;
}
element1 h3
{
color:#fff;	
}
element2
{
	padding-right : 0.5%;
    position: fixed;
    bottom: 0px;
	right: 0px;

}

element2 a
{
	color : grey;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: grey;
}

nav 
{

    margin-top: 100px;
    padding: 12px;
	width: 15%;
    height: auto;
	border: 1px solid black;
	background-color: #6B6B6B;
	margin-left: 100px;
	z-index: 1;
}


nav li
{
list-style-type:none;
float:left;
}
nav ul
{
margin: 0px;
padding: 0px;
}



nav a
{
display : inline-block;
text-decoration: none;
padding: 20px 30px;
color: #FFF;
text-transform: uppercase;
font-size: 15px;
}

.table
{
display:table;
margin: 0 auto;
}

.menu-ind:hover
{	
border-top:5px solid #4c8;
background-color: RGBa (64, 200,130,0.15);
}

.menu-exp:hover
{	
border-top:5px solid #f1dc4f;
background-color: RGBa (241, 211,79,0.15);
}

.menu-exp:hover
{	
border-top:5px solid #0070bb;
background-color: RGBa (000, 112,192,0.15);
}

.menu-hob:hover
{	
border-top:5px solid #0070bb;
background-color: RGBa (000, 112,192,0.15);
}

nav li:hover a
{
 color: grey; 
}

i {
	font-size : 50px;
}

@media screen and (min-width: 1000px) {
  nav {
    margin-left:100px;
	
  }
  

}
@media screen and (min-width: 200px) and (max-width: 1000px) {
	element1{
	margin-top:500px;
	width:300px;
	margin-left:70px;
	
	}
		
	nav {
	margin-top:10px;
	margin-left: 100px;
	width:250px;
} 
}